<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SQuAD Dataset</title>

	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-lumen.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
	<link rel="stylesheet" href="static/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">15EC Major Project</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>
				QA Bot using LSTMs
				</h1>
			</div>
		</div>

		<div class="col-lg-8 doc_body">
			<form>
		  		<fieldset>
				    <div class="form-group">
				      <label for="exampleTextarea">Passage</label>
				      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				    </div>

			    	<div class="form-group">
			      		<label for="exampleInputEmail1">Question</label>
			      		<input type="text" class="form-control" id="question" aria-describedby="emailHelp" placeholder="Enter email">
				    </div>

				    <button type="submit" class="btn btn-primary">Submit</button>
		  		</fieldset>
			</form>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> by Vighnesh Velayudhan</p>
		</div>
	</footer>
	</body>
</html>